name: Auto AI Predict

on:
  schedule:
    - cron: '15 2 * * 1-5'  # 9:15 AM VN
    - cron: '45 4 * * 1-5'  # 11:45 AM VN
    - cron: '45 7 * * 1-5'  # 14:45 PM VN
    - cron: '15 8 * * 1-5'  # 15:15 PM VN
  workflow_dispatch: 

jobs:
  run_ai:
    runs-on: ubuntu-latest
    # QUAN TRỌNG: Cấp quyền ghi vào Repo
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install libraries
        run: |
          pip install pandas numpy==1.26.4 tensorflow-cpu vnstock==0.2.1 joblib scikit-learn beautifulsoup4 lxml requests

      - name: Run Prediction Script
        run: python update_predictions.py

      - name: Save and Push CSV
        run: |
          git config --global user.name "AI-Bot"
          git config --global user.email "bot@github.com"
          
          # Kiểm tra nếu file tồn tại thì mới add và commit
          if [ -f "vn30_signals.csv" ]; then
            git add vn30_signals.csv
            git commit -m "Update signals $(date)" || echo "No changes to commit"
            git push
          else
            echo "❌ Lỗi: Không tìm thấy file vn30_signals.csv để lưu!"
            exit 1
          fi
