name: Auto AI Predict

on:
  schedule:
    - cron: '15 2 * * 1-5'  # 9:15 AM VN
    - cron: '45 4 * * 1-5'  # 11:45 AM VN
    - cron: '45 7 * * 1-5'  # 14:45 PM VN
    - cron: '15 8 * * 1-5'  # 15:15 PM VN
  workflow_dispatch: 

jobs:
  run_ai:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install libraries
        run: |
          pip install pandas numpy==1.26.4 tensorflow-cpu vnstock==0.2.1 gspread oauth2client joblib scikit-learn beautifulsoup4 lxml requests
      
      - name: Run Prediction Script
        run: python update_predictions.py
